PRODUCT_NAME = ytbackground
PRODUCT_BUNDLE_IDENTIFIER_PREFIX = com.eugeniorenna
APP_GROUP_IDENTIFIER = group.com.eugeniorenna.ytbackground
YOUTUBE_DATA_API_KEY = AIzaSyAfCFY6mxWSw46TCCBcux8kr2N7kwSNwPA
AUDIO_SERVER_BASE_URL = https://ytapi.eulab.cloud
SWIFT_VERSION = 5.0
IPHONEOS_DEPLOYMENT_TARGET = 17.0
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = XA796A85AB
